<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>v-for 指令</title>
    <script type="text/javascript" src="../assets/js/vue.js"></script>
</head>

<body>
    <h1>v-for 指令</h1>
    <hr>
    <div id="app">
        <div>
            <h2>v-for="item in listData" item:目标数据(每一条数据),listData:数据源</h2>
            <ul v-for="item in listData">
                <li>目标数据：{{ item }}</li>
            </ul>
        </div>
        <div>
            <h2>v-for="(item,index) in listData" item:目标数据(每一条数据),index:数据下标,listData:数据源</h2>
            <ul v-for="(item,index) in listData">
                <li>下标:{{ index }} 目标数据：{{ item }}</li>
            </ul>
        </div>
        <div>
            <h2>对数据进行排序 <br> &nbsp;&nbsp; 注意:我们在computed里新声明了一个对象sortItems，如果不重新声明会污染原来的数据源，这是Vue不允许的，所以你要重新声明一个对象。</h2>
            <ul>
                <li>
                    <h3>从小到小</h3>
                    <ul v-for="item in oneListData">
                        <li>{{ item }}</li>
                    </ul>
                </li>
                <li>
                    <h3>从大到小</h3>
                    <ul v-for="item in twoListData">
                        <li>{{ item }}</li>
                    </ul>
                </li>
            </ul>
        </div>
        <div>
            <h2>根据对象对数据进行排序</h2>
            <ul v-for="item in threeStudentData">
                <li>姓名：{{ item.name }} ---- 年龄: {{ item.age }}</li>
            </ul>
        </div>
    </div>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                listData: [1, 56, 81, 25, 44],
                studentData: [{
                        'name': 'Carry',
                        'age': 11
                    },
                    {
                        'name': 'Mary',
                        'age': 9
                    },
                    {
                        'name': 'LinSun',
                        'age': 35
                    },
                    {
                        'name': 'Gxh',
                        'age': 53
                    },
                ]
            },
            //计算属性
            computed: {
                oneListData: function () {
                    return this.listData.sort(sortLarge);
                },
                twoListData: function () {
                    return this.listData.sort(sortSamll);
                },
                threeStudentData: function () {
                    return sortObj(this.studentData, 'age');
                }
            }

        })
        // 从小到大排序
        function sortLarge(a, b) {
            return a > b;
        }
        // 从大到小排序
        function sortSamll(a, b) {
            return a < b;
        }
        // 对数组对象排序 array:数据源 name:对象名称
        function sortObj(array, name) {
            console.log(array, name)
            return array.sort(function (a, b) {
                var x = a[name];
                var y = b[name];
                // 三元表达式 如果为真则输出 x<y 为假则输出 x>y
                // 从小到大
                return ((x < y) ? -1 : ((x > y) ? 1 : 0))
                // 从大到小
                // return ((x > y) ? -1 : ((x < y) ? 1 : 0))
            })
        }
    </script>
</body>

</html>